{
  "presets": ["es2015", "react", "stage-2"],
  "plugins": [
    ["babel-plugin-react-css-modules", { 
      "generateScopedName" : "[path]___[name]__[local]___[hash:base64:5]", 
      "filetypes": {
        ".scss": "postcss-scss"
      }
    }]
  ]
}