{
  "extends": "react-app",
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "quotes": [1, "double"],
    "no-console": ["warn"],
    "sort-imports": ["warn", {
      "memberSyntaxSortOrder": ["all", "multiple", "single", "none"]
    }],
    "operator-linebreak": ["error", "after"]
  }
}