{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "quotes": [1, "double"],
    "no-console": ["warn"],
    "indent": [2, 4],
    "sort-imports": [
      "warn",
      {
        "memberSyntaxSortOrder": ["all", "multiple", "single", "none"]
      }
    ],
    "operator-linebreak": ["error", "after"]
  }
}
