@import "../colors.scss";

.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
}
.copied {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}
// .banner {
//   margin: 0;
//   padding: 0;
//   display: flex;
//   align-items: center;
//   li {
//     list-style: none;
//     display: flex;
//     img {
//       width: 25px;
//       height: 25px;
//     }
//     .details {
//       display: flex;
//       margin-left: 5px;
//       flex-direction: column;
//       justify-content: center;
//       h4 {
//         margin: 0;
//       }
//       p {
//         margin: 0;
//         padding: 3px;
//         font-size: 10pt;
//         width: auto;
//         &.negative {
//           color: $negative;
//         }
//         &.positive {
//           color: $positive;
//         }
//       }
//     }
//     &+li {
//       margin-left: 25px;
//     }
//   }
// }
