@import "../colors.scss";
@import "../media.scss";

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.portfolioTotal {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
    font-family: "Open Sans", sans-serif !important;
}

.negative {
    color: $negative;
}

.positive {
    color: $positive;
}

.portfolioWorth {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include desktop {
        h3 {
            margin: 0;
        }
    }
}

.portfolioStats {
    position: relative;
    display: flex;
    flex-direction: column;
    p {
        text-align: center;
        margin: 0;
        padding: 0;
        background: none;
    }
    h3 {
        text-align: center;
        font-size: 40pt;
        color: white;
        text-shadow: 2px 2px 0 black;
        margin-bottom: 0;
    }

    .invested {
        font-size: 16pt;
        color: rgba(255, 255, 255, 0.78);
        text-shadow: none;
        margin: 10px;
        padding: 10px;
        .investedChange {
            margin-left: 10px;
            font-size: 20pt;
            font-weight: bold;
            padding: 10px;
            text-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
        }
        .investmentNotes {
            color: #bbbbbb;
            font-size: 10pt;
        }
    }

    @include desktop {
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-bottom: 40px;
    }
}

.loader {
    position: absolute;
    right: 0;
    top: 0;
    height: 23px;
    transform: scale(0.3);
    color: gray;
    & > div {
        margin: 0;
    }
}

.sort {
    display: inline-flex;
    align-items: center;
    font-size: 9pt;
    color: #c7c7c7;

    select {
        margin-left: 5px;
        background: rgb(46, 44, 44);
        width: 85px;
        float: right;
        border: 1px solid #23252b;
        border-radius: 3px;
        padding: 2px;
        color: #a5a5a5;
        text-transform: uppercase;
        font-size: 10pt;
        font-family: "Open Sans";
    }
}

.settings {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
}
