@import '../forms.scss';

.portfolio {
  display: flex;
  flex-direction: column;
}

.automatic {
  background: rgba(0, 0, 0, 0.1);
  .source {
    text-align: right;
    margin-right: 20px;
    font-size: 10pt;
    font-style: italic;
  }
}

.item {
  background: black;
  background: rgba(232, 178, 92, 0.33);
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  .itemHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .details {
    padding: 10px 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    .nameContainer {
      display: flex;
      flex-direction: column;
      .name {
        font-weight: bold;
      }
      .amount {
        color: rgba(0, 0, 0, 0.4);
        font-size: 9pt;
        line-height: 20px;
      }
    }
    .image {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }
  }
  .actions {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    &>li {
      a,
      button {
        color: white;
        background: $button-info-bg;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        height: 40px;
        width: 40px;
        align-items: center;
        border: none;
        cursor: pointer;
        &:hover {
          transition: 150ms all ease-in-out;
          background: $button-info-bg-hover;
          box-shadow: inset 0 0 0 2px $button-info-shadow-hover;
        }
      }
      &+li {
        margin-left: 10px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .item {
    margin: 10px;
  }
}

.portfolioChart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.deleteButton {
  background: $button-danger-bg !important;
  &:hover {
    background: $button-danger-bg-hover !important;
    box-shadow: inset 0 0 0 2px $button-danger-shadow-hover !important;
  }
}

// .addForm {
//     padding: 20px;
//     display: flex;
//     flex-direction: row;
//     &>div {
//         flex-direction: column;
//         &+div {
//             margin-left: 15px;
//         }
//         &>button {
//             margin-top: 28px;
//         }
//     }
// }