.recharts-default-legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.recharts-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    flex-direction: column;
}

.recharts-legend-wrapper {
    bottom: -3px !important;
    left: initial !important;
    width: 100% !important;
    max-width: 500px;
    position: relative !important;
}

.recharts-legend-item {
    display: flex;
}
