@mixin form() {
    width: 100%;

    .group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        & + .group {
            margin-top: 10px;
        }
        &.row {
            display: block;
            input,
            textarea {
                width: 100%;
            }
        }
        input,
        textarea,
        .input {
            &:disabled {
                background: rgba(0, 0, 0, 0.05);
                color: #585858;
            }

            background: #fefefe;
            display: block;
            padding: 15px 20px;
            border-radius: 3px;
            border: 1px solid #c5c5c5;
            box-sizing: border-box;
            color: darken(white, 40);
            &:focus {
                outline: 0;
                color: darken(white, 80);
                box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.21);
                border-color: #ababab;
            }
            &.invalid {
                border-bottom-color: #d45959;
                color: #d45959;
            }
        }
        label {
            display: block;
            margin: 5px 0;
            text-transform: uppercase;
            font-size: 9pt;
            color: #313131;
        }
        & > span.descriptor {
            font-style: italic;
            color: gray;
            margin: 5px;
            font-size: 10pt;
        }
    }

    .inline {
        flex-direction: row;
    }

    .validationError {
        font-size: 10pt;
        color: #d45959;
        display: block;
        padding: 5px;
    }
}

.form {
    @include form();
}

.formFullPage {
    @include form();
    .group {
        input,
        textarea {
            background: rgba(0, 0, 0, 0.28);
            border: none;
            color: darken(white, 20);
            &:focus {
                outline: 0;
                color: white;
            }
        }
        label {
            display: block;
            margin: 5px 0;
            text-transform: uppercase;
            font-size: 9pt;
            color: #a7a7a7;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .form {
        flex-direction: column;
        .group {
            // flex-direction: row;
        }
    }
}

.noAccount {
    text-align: center;
    margin: 10px 0;
    a {
        color: white;
        text-decoration: none;
    }
}

.validationSummary {
    padding: 10px;
    background: rgba(212, 89, 89, 0.31);
    color: white;
    margin: 10px 0;
    font-size: 10pt;
    text-align: center;
}

.forgotPassword {
    margin: 10px;
    a {
        color: rgba(255, 255, 255, 0.68);
        font-size: 10pt;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

$button-color: white;
$button-bg: #6d9c68;
$button-bg-hover: saturate($button-bg, 10);
$button-shadow-hover: saturate($button-bg, 20);

$button-danger-bg: #dc7b7b;
$button-danger-bg-hover: saturate($button-danger-bg, 20);
$button-danger-shadow-hover: saturate($button-danger-bg, 30);

$button-info-bg: #68999c;
$button-info-bg-hover: saturate($button-info-bg, 20);
$button-info-shadow-hover: saturate($button-info-bg, 30);

.button {
    border: none;
    background: $button-bg;
    color: $button-color;
    padding: 15px 25px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 10pt;
    cursor: pointer;
    transition: 150ms all ease-in-out;
    &:hover {
        box-shadow: inset 0 0 0 3px $button-shadow-hover;
        background: $button-bg-hover;
    }
    &.error,
    &.danger {
        background: $button-danger-bg;
        &:hover {
            background: $button-danger-bg-hover;
            box-shadow: inset 0 0 0 3px $button-danger-shadow-hover;
        }
    }
    &.info {
    }
}
