@import './normalize.css';
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

p {
  line-height: 16pt;
}