.Select-control {
  border-radius: 3px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

.Select-menu-outer {
  left: 0px;
}

.Select.is-open {
  background: white;
  outline: 0;
  color: #333333;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.21);
  border-color: #ababab;
}

.Select-placeholder, .Select--single>.Select-control .Select-value {
  top: 5px;
  font-size: 9pt;
  color: gray;
  padding: 0;
  line-height: inherit;
}

.Select-input {
  height: auto;
  padding: 0;
}

.Select-input>input {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: 5px;
  padding: 1px 0px !important;
  height: 100%;
  margin-left: 0 !important;
  font-size: 10pt !important;
  box-sizing: content-box;
}
.Select--multi .Select-value {
  margin-left: -11px;
  margin-top: 3px;
  border: 1px solid rgba(152, 212, 89, 0.45);
  background-color: rgba(152, 212, 89, 0.3);
  color: rgb(152, 212, 89);
}
.Select--multi .Select-value+.Select-value {
  margin-left: 5px;
}